celery==5.3.1
eventlet==0.33.3
Flask==2.2.3
Flask-Caching==2.0.2
Flask-Compress
Flask-Cors
Flask-Mail
flask-marshmallow
Flask-SocketIO
Flask-SQLAlchemy==3.0.3
flask-talisman
Flask-WTF==1.1.1
gunicorn
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.2
marshmallow-sqlalchemy==0.29.0
psycopg2-binary
redis
shortuuid
SQLAlchemy==2.0.9
validators
watchdog
Werkzeug==2.2.3
WTForms
bidict
kombu 
flask-sslify
sentry-sdk
python-dotenv==1.0.0
websockets==11.0.3
