{% extends 'layout.html' %}
{% block content %}


<div id="about" class="about">
    <div class="container">
        <div class="row">

            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                <div class="about-box">
                    <h3> Free Betting Tips This Week</h3>
                    {% for picks in bet%}
                    <h6 style="color: white;
                        padding: 16px 50px;
                        font-size: 15px;">
                        {{ picks.content }} &nbsp;&nbsp;&nbsp;&nbsp; {{ picks.country }} &nbsp;&nbsp;&nbsp;&nbsp;{{ picks.league }}
                    </h6>

                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>


{%endblock content%}