{% extends 'layout.html' %}
{% block content %}
<style>
    .in_form {
        font-size: 30px;
        margin-top: 2rem;
        text-align: center;
    }
</style>

<div id="about" >
    <div class="container">
        <div class="row">

            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                <div class="about-box">
                    <h3 class="in_form"> Free Betting Tips This Week</h3>
                    <table>
                    
                        <thead>
                            <tr>
                                <th scope="col">Team</th>
                                <th scope="col">Competition</th>
                                <th scope="col">Prediction</th>
                                <th scope="col">% Confidence</th>
                            </tr>
                        </thead>
                        {% for picks in betting_tips %}
                        <tbody>
                            <tr>
                                <td data-label="Team">{{ picks.content }}</td>
                                <td data-label="League">{{ picks.league }}</td>
                                <td data-label="League"></td>
                            
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


{%endblock content%}