{% extends 'layout.html' %}
{% block content %}
<style>
    .in_form {
        font-size: 30px;
        margin-top: 2rem;
        text-align: center;
    }
</style>

<div id="about" >
    <div class="container">
        <div class="row">

            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                <div class="about-box">
                    <h3 class="in_form"> Teams With High Conceding Statistics</h3>
                    <table>
                    
                        <thead>
                            <tr>
                                <th scope="col">Team</th>
                                <th scope="col">League</th>
                                <th scope="col">League Goals Conceded</th>
                                <th scope="col">Conceding Rate/Match</th>
                            </tr>
                        </thead>
                        {% for picks in high_conceding %}
                        <tbody>
                            <tr>
                                <td data-label="Team">{{ picks.team }}</td>
                                <td data-label="League">{{ picks.league }}</td>
                                <td data-label="League Goals Conceded">{{ picks.goal_conceded }}</td>
                                <td data-label="Conceding Rate">{{ picks.conceding_rate }}</td>
                        
                            </tr>
                    
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{%endblock content%}