{% extends 'layout.html' %}
{% block content %}


<div id="about" class="about">
    <div class="container">
        <div class="row">

            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                <div class="about-box">
                    <h3> Teams With High Scoring Statistics </h3>
                    <table>
                    
                        <thead>
                            <tr>
                                <th scope="col">Team</th>
                                <th scope="col">Country</th>
                                <th scope="col">League</th>
                            </tr>
                        </thead>
                        {% for picks in highscore %}
                        <tbody>
                            <tr>
                                <td data-label="Team">{{ picks.content }}</td>
                                <td data-label="Country">{{ picks.country }}</td>
                                <td data-label="League">{{ picks.league }}</td>
                            
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{%endblock content%}