{% extends 'layout.html' %}
{% block content %}

<input type="checkbox" name="showForm" id="showForm" class="showForm">

<div class="form">
  <h2>Contact Us</h2>
<form method=POST enctype=multipart/form-data action="" >
        {{ form.hidden_tag() }}
    <div class="left section">
      {{ form.content(type="text",  placeholder="Prediction") }}
    {{ form.country(type="text",  placeholder="Country") }}
     {{ form.league(type="text", placeholder="League") }}
    </div>
   {{ form.submit(class="sendForm left", onclick="submit") }}
    <label for="showForm" class="closeFormLabel left">Cancel</label>
  </form>
</div>

<label for="showForm" class="showFormLabel">Contact</label>
    <!-- about  -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">

                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                    <div class="about-box">
                        <h3> Betting Picks For Today</h3>
                    <table>
                    
                        <thead>
                            <tr>
                                <th scope="col">Team</th>
                                <th scope="col">Country</th>
                                <th scope="col">League</th>
                            </tr>
                        </thead>
                        {% for picks in pick %}
                        <tbody>
                            <tr>
                                <td data-label="Account">{{ picks.content }}</td>
                                <td data-label="Due Date">{{ picks.country }}</td>
                                <td data-label="Amount">{{ picks.league }}</td>
                    
                            </tr>
                    
                        </tbody>
                        {% endfor %}
                    </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->

    <!-- our how_it -->
    <div id="blog" class="how_it">
        <div class="container-fluid paddimg_ouu">
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padding-right1">
                    <div class="two-box">
                        <figure><img src="static/images/form-team-preview.png" alt="#" /></figure>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padding-left1">
                    <div class="two-box_text">

                        <div class="travel">

                            <h3>Prediction For Week</h3>
                            <table>
                            
                                <thead>
                                    <tr>
                                        <th scope="col">Team</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">League</th>
                                    </tr>
                                </thead>
                                {% for picks in prediction %}
                                <tbody>
                                    <tr>
                                        <td data-label="Team">{{ picks.content }}</td>
                                        <td data-label="Country">{{ picks.country }}</td>
                                        <td data-label="League">{{ picks.league }}</td>
                                    
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end how_it -->
    <!-- We are -->
    <div id="casino" class="We_are">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Betting odds and stats</h2>
                        <span>
                            Get the best stats for your betting picks on
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="first-slide" src="static/images/soccer-logo.png" alt="First slide">
                                <div class="container">
                                    <div class="carousel-caption relative">
                                        <p style="color:black">Best teams for high goal scoring picks</p>

                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="second-slide" src="static/images/goal-preview.png" alt="Second slide">
                                <div class="container">
                                    <div class="carousel-caption relative">
                                        <p style="color:black">Teams with high conceding rate / poor defence</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="third-slide" src="static/images/in-form-preview.png" alt="Third slide">
                                <div class="container">
                                    <div class="carousel-caption relative">
                                        <p style="color:black">Currently in form teams to pick </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev"> <i class='fa fa-angle-left'></i></a>
                        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next"> <i class='fa fa-angle-right'></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end We are -->
    <!-- contact -->
    <div  class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h3>Get Sure Games For Booking</h3>
                    </div>
                </div>
            </div>
            <div class="white_bg">
                <div class="row">

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="contact">

                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input class="contactus" placeholder="Name" type="text" name="Name">
                                    </div>
                                   
                                    <div class="col-sm-12">
                                        <input class="contactus" placeholder="Email" type="text" name="Email">
                                    </div>
                                
                                    <div class="col-sm-12">
                                        <button class="send">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="rable-box">
                            <figure><img src="static/images/bet-teams.png" alt="#" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
    <!-- clients -->
   

    <!-- end clients -->

    {% endblock content%}
