{% extends 'layout.html' %}
{% block content %}
<style>
    .in_form {
        font-size: 30px;
        margin-top: 2rem;
        text-align: center;
    }
    .doha {
        width: 100%;
        border-radius: 29px;
        height: 45px;
        text-align: center;
        border-color: deeppink;
        font-size: 20px;
    }
</style>

<div id="about">
    <div class="container">
        <div class="row">

            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                <div class="about-box">
                    <h3 class="in_form"> Search Team</h3>
                    <div class="location_section">
                        <form action="">
                        <input class="doha" type="search" placeholder="Search Team..." id="livebox">
                    </form>
                    </div>
                        
                    
                </div>
                <tbody>
                    <tr>
                        <span id="datalist"></span>
                    </tr>
                </tbody>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#livebox").keyup(function(e){
            var text = $("#livebox").val();
            $.ajax({
                method: "post",
                url: '/searche',
                data: {text: text},
                success: function(res){
                    console.log(res);
                    var data = "<ul>";
                    $.each(res, function(index, value){
                        if(value.name !== -1){
                            data += '<li><a href="/' + value.name + '">' + value.name + '</a></li>';
                        }
                    });
                    data += "</ul>";
                    $("#datalist").html(data);
                },
                error: function(err) {
                    console.log("Error:", err); 
                }
            });
        });
    });
  </script>
  

{%endblock content%}